:root {
  --purple:#755CDE;
  --orange:#F6A560;
  --pink:#F39E9E;
  --pinker:#EB7565;
  --greenish:#61C4B7;
  --dark-purple:#552049;
  --blackish:#030303;
  --grayish:#7A746E;
  --beige:#FFF7F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1110px;
  margin: 0 auto;
}