@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --purple:#755CDE;
  --orange:#F6A560;
  --pink:#F39E9E;
  --pinker:#EB7565;
  --greenish:#61C4B7;
  --dark-purple:#552049;
  --blackish:#030303;
  --grayish:#7A746E;
  --beige:#FFF7F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1110px;
  margin: 0 auto;
  background-color: var(--beige);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 66px 0;
}

header img, footer img {
  width: 64px;
}

header a, footer a, section:last-of-type a {
  color: var(--beige);
  background-color: var(--blackish);
  text-decoration: none;
  font-weight: 500;
  max-width: 280px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 25px;
}

header a:hover, footer a:hover {
  background-color: var(--purple);
}


section:first-of-type h1{
  font-size: 56px;
  font-weight: 700;
  
}
section:first-of-type p{
  font-size: 18px;
  font-weight: 500;
  padding: 23px 0 80px 0;
}

section:first-of-type h1, p{
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(182px, auto));
  gap: 25px;
  color: var(--beige);
  font-weight: 700;
}

.cards > * {
  padding: 20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  display: flex;
  align-items: flex-end;
  
}
.cards__graphic {
  grid-column: span 4;
  grid-row: 1/span 2; 
  background-image: url('./assets/pattern-graphic-design.svg');
  background-repeat: no-repeat;  
  background-color: var(--purple);
}

.cards__ui {
  grid-column: span 2;
  background-image: url('./assets/pattern-ui-ux.svg');
  background-color: var(--orange);
}

.cards__apps {
  grid-column: span 2;
  background-image: url('./assets/pattern-apps.svg');
  background-color: var(--pink);

}

.cards__photography {
  grid-column: span 4;
  background-image: url('./assets/pattern-photography.svg');
  background-color: var(--greenish);

}

.cards__illustrations {
  grid-column: span 4;
  background-image: url('./assets/pattern-illustrations.svg');
  background-color: var(--pinker);
}

.cards__motion {
  grid-column: span 4;
  background-image: url('./assets/pattern-motion-graphics.svg');
  background-color: var(--dark-purple);
}


section:nth-of-type(2){
  display: flex;
  margin: 100px 0;
  align-items: center;
  gap: 125px;
}

section:nth-of-type(2) img{
  width: 445px
}

section:nth-of-type(2) > div{
  min-height: 445px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0;
  
}

section:nth-of-type(2) h1, section:nth-of-type(2) p{
  text-align: left;
}

section:nth-of-type(2) h1{
  font-size: 40px;
  font-weight: 700;
}

section:nth-of-type(2) p{
  line-height: 28px;
}

section:nth-of-type(2) a {
  text-decoration: none;
  color: var(--beige);
  background-color: var(--pinker);
  max-width: 280px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 25px;
}

section:nth-of-type(2) a:hover {
  background-color: var(--orange);
}

section:nth-of-type(3) h1{
  text-align: center;
}

section:nth-of-type(3) .slider {
  display: flex;
  padding: 60px 0;
}

section:nth-of-type(3) .slider img {
  width: 540px;
  height: 360px;
}

section:nth-of-type(3) .arrows {
  text-align: center;
}

section:nth-of-type(3) .arrows > * {
  background-color: #000;
  padding: 20px;
  border-radius: 50%;
}

section:nth-of-type(3) .arrows > *:hover {
  background-color: var(--purple);
  cursor: pointer;
}

section:last-of-type {
  /* display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr; */
  display: flex;
  /* flex-direction: column; */
  padding: 30px;
  background-color: var(--blackish);
  border-radius: 15px;
  min-height: 320px;
  /* background-color: yellow; */
}
section:last-of-type > * {
  /* display: flex; */
  color: white;
  /* display: flex;
  flex-direction: column; */
}

section:last-of-type h1, section:last-of-type p {
  text-align: left;

}

section:last-of-type a {
  background-color: var(--orange);
}