@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --purple:#755CDE;
  --orange:#F6A560;
  --pink:#F39E9E;
  --pinker:#EB7565;
  --greenish:#61C4B7;
  --dark-purple:#552049;
  --blackish:#030303;
  --grayish:#7A746E;
  --beige:#FFF7F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1110px;
  margin: 0 auto;
  background-color: var(--beige);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 66px 0;
}

header img, footer img {
  width: 64px;
}

header a, footer a {
  color: var(--beige);
  background-color: var(--blackish);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;

}

header a:hover, footer a:hover {
  background-color: var(--purple);
}


section:first-of-type h1{
  font-size: 56px;
  font-weight: 700;
  
}
section:first-of-type p{
  font-size: 18px;
  font-weight: 500;
  padding: 23px 0 80px 0;
}

section:first-of-type h1, p{
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(182px, auto));
  gap: 10px;
}

.cards > * {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top right;
}
.cards__graphic {
  grid-column: span 4;
  grid-row: 1/span 2; 
  background-image: url('./assets/pattern-graphic-design.svg');
  background-repeat: no-repeat;  
  background-color: var(--purple);
}

.cards__ui {
  grid-column: span 2;
  background-image: url('./assets/pattern-ui-ux.svg');
  background-color: var(--orange);
}

.cards__apps {
  grid-column: span 2;
  background-image: url('./assets/pattern-apps.svg');
  background-color: var(--pink);

}

.cards__photography {
  grid-column: span 4;
  background-image: url('./assets/pattern-photography.svg');
  background-color: var(--greenish);

}

.cards__illustrations {
  grid-column: span 4;
  background-image: url('./assets/pattern-illustrations.svg');
  background-color: var(--pinker);
}

.cards__motion {
  background-image: url('./assets/pattern-motion-graphics.svg');
  background-color: var(--dark-purple);
}